fastapi
uvicorn
sqlalchemy
pyodbc
alembic
python-telegram-bot
slack-sdk
sendgrid
pytest
pytest-cov
httpx
apscheduler
langdetect
pytest-asyncio
pypdf
pdfplumber
ollama
pydantic_core==2.41.5
numpy
pydantic-settings
redis
rq
