fastapi
uvicorn
sqlalchemy
alembic
python-telegram-bot
sendgrid
pytest
pytest-cov
pytest-asyncio
pytest-xdist
httpx
apscheduler
langdetect
ollama
pydantic_core==2.41.5
pydantic-settings
numpy
pymupdf
